<div *ngIf="game.stage === GameStage.NewGame">
  <p>Hello ! Let's play Rock-Paper-Scissors...</p>
  <button (click)="game.start()">New Game</button>
</div>

<div *ngIf="game.stage === GameStage.SetPlayers">
  <p>Enter the names of both players...</p>
  <input #player1 placeholder="Player1">
  <input #player2 placeholder="Player2">
  <button (click)="game.setPlayers(player1.value, player2.value)">Play</button>
</div>

<div *ngIf="game.stage === GameStage.Play">
  <div>
    <h2>{{ game.player1 }} <span *ngIf="game.p1">👍</span> </h2>
    <div *ngIf="!game.p1">
        <button (click)="game.choose(1, GameChoice.Rock)">Rock</button>
        <button (click)="game.choose(1, GameChoice.Paper)">Paper</button>
        <button (click)="game.choose(1, GameChoice.Scissors)">Scissors</button>
    </div>
  </div>
  <div>
      <h2>{{ game.player2 }} <span *ngIf="game.p2">👍</span> </h2>
      <div *ngIf="!game.p2">
          <button (click)="game.choose(2, GameChoice.Rock)">Rock</button>
          <button (click)="game.choose(2, GameChoice.Paper)">Paper</button>
          <button (click)="game.choose(2, GameChoice.Scissors)">Scissors</button>
      </div>
    </div>
</div>

<div *ngIf="game.stage === GameStage.TurnResult">
    <div *ngIf="!game.isGameOver">
        <h2> {{ game.latestTurn().winner }} wins the turn</h2>
        <button (click)="game.newTurn()">New turn</button>
    </div>
    <div *ngIf="game.isGameOver">
        <h2> {{ game.winner }} wins the Game !!!</h2>
        <table mdbTable>
            <thead>
              <tr>
                <th>Turn</th>
                <th>{{ game.player1 }}</th>
                <th>{{ game.player2 }}</th>
                <th>Winner</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let turn of game.turns; let i = index">
                <th>#{{ i + 1 }}</th>
                <td>{{ turn.p1 }}</td>
                <td>{{ turn.p2 }}</td>
                <td>{{ turn.winner }}</td>
              </tr>
            </tbody>
          </table>
        <button (click)="game.start()">Reset</button>
        <button (click)="game.restart()">Restart</button>
    </div>
</div>
